*.pyc
__pycache__/
logs/
*.db
.env
*.log
*.code-workspace
openscep/
pki-https/*.crt
pki-https/*.key
pki-https/*.pem
pki-misc/*.pem
pki-misc/*.conf
pki-misc/*.cnf
pki-subca/*.key
pki-subca/*.crt
pki-root/*.crt
db/*.db
x509_profiles/*.cnf
tests/results/*
