*.pyc
__pycache__/
logs/
*.db
.env
*.log
*.code-workspace
openscep/
temp_unused/
pki-https/*.crt
pki-https/*.key
pki-https/*.pem
pki-misc/*.pem
pki-misc/*.conf
pki-misc/*
pki-subca/*.key
pki-subca/*.crt
pki-subca/dumps/*
pki-root/*.crt
db/*.db
db_tools/*
x509_profiles/*
tests/results/*
security/history/*
