[ v3_ext ]
authorityInfoAccess = {{ AIA | default("OCSP;URI:https://pkisquire-ca.iot-rad.com:4443/ocsp") }}
subjectAltName = @alt_names
crlDistributionPoints = {{ CRL | default("URI:https://pkisquire-ca.iot-rad.com:4443/downloads/crl") }}

[ alt_names ]
DNS.1 = pkisquire-ca.iot-rad.com


