[ v3_ext ]
authorityInfoAccess = {{ AIA | default("OCSP;URI:https://pikachu-ca.iot-rad.com:4443/ocsp") }}
crlDistributionPoints = {{ CRL | default("URI:https://pikachu-ca.iot-rad.com:4443/downloads/crl") }}


