# ECC CSR Configuration Template
[ req ]
prompt             = no
distinguished_name = dn
req_extensions     = req_ext
default_md         = sha256
default_bits       = 2048
default_ec_curve   = prime256v1

[ dn ]
C  = {{ country | default("DE") }}
O  = {{ organization | default("EON") }}
CN = {{ common_name | default("RADX-005282112455") }}

[ req_ext ]
subjectAltName     = @alt_names
keyUsage           = critical, digitalSignature, keyAgreement
extendedKeyUsage   = clientAuth

[ alt_names ]
DNS.1 = {{ common_name | default("RADX-005282112455") }}

