# ==== Server CSR (Jinja-style; no req extensions) ====
# RSA:
#   openssl genrsa -out server.key 
#   openssl req -new -key server.key -out server.csr -config server_req.cnf
# ECDSA:
#   openssl ecparam -name prime256v1 -genkey -noout -out server.key
#   openssl req -new -key server.key -out server.csr -config server_req.cnf

[ req ]
prompt             = no
distinguished_name = dn
default_md         = sha256
default_bits       = 
default_ec_curve   = prime256v1

[ dn ]
C  = IL
ST = IL
L  = TLV
O  = RAD
OU = RND
CN = ABIGAIL-N-Pikachu-1
