# CA Certificate Configuration Template for Root ECC Certificates
[ req ]
# Note: For ECC keys the “default_bits” option is not used.
default_md         = sha256
default_days       = 3650
prompt             = no
distinguished_name = dn
x509_extensions    = v3_ca
default_ec_curve   = prime256v1

[ dn ]
C  = IS
ST = Tel_Aviv
L  = tel aviv
O  = RAD
OU = RND
CN = SSL-CLIENT

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical, CA:true, pathlen:0
keyUsage               = critical, digitalSignature, keyCertSign, cRLSign
